cytomine.ims.charset = "UTF-8"

cytomine.ims.server.url = "http://$IMS_URL1"
cytomine.ims.server.core.url = "http://$CORE_URL"
cytomine.ims.server.publicKey = "$IMS_PUB_KEY"
cytomine.ims.server.privateKey = "$IMS_PRIV_KEY"

cytomine.ims.path.buffer = "$IMS_BUFFER_PATH"
cytomine.ims.path.storage = "$IMS_STORAGE_PATH"

cytomine.ims.conversion.vips.compression = "lzw"
cytomine.ims.conversion.vips.executable = "vips" // /usr/local/bin/vips
cytomine.ims.conversion.unzip.executable = "unzip"
cytomine.ims.conversion.gdal.executable = "gdal_translate"
cytomine.ims.conversion.bioformats.enabled = $BIOFORMAT_ENABLED
cytomine.ims.conversion.bioformats.hostname = "$BIOFORMAT_ALIAS"
cytomine.ims.conversion.bioformats.port = 4321

cytomine.ims.detection.tiffinfo.executable = "tiffinfo"
cytomine.ims.detection.identify.executable = "identify" // /usr/local/bin/identify
cytomine.ims.detection.gdal.executable = "gdalinfo"
cytomine.ims.metadata.exiftool.executable = "exiftool"

cytomine.ims.pyramidalTiff.iip.url = "http://$IIP_OFF_URL/fcgi-bin/iipsrv.fcgi"
cytomine.ims.openslide.iip.url = "http://$IIP_CYTO_URL/fcgi-bin/iipsrv.fcgi"
cytomine.ims.jpeg2000.iip.url = "http://$IIP_JP2_URL/fcgi-bin/iipsrv.fcgi"
cytomine.ims.jpeg2000.enabled = $IIP_JP2_ENABLED

cytomine.ims.crop.maxSize = 15000 // in pixels
cytomine.ims.deleteJob.frequency = 600000 // in ?

cytomine.ims.hdf5.maxBurstSize = 512 // Mbytes
cytomine.ims.hdf5.maxBlockSize = 15 // Mbytes

// Rest API Doc plugin
grails.plugins.restapidoc.docVersion = "0.1"
grails.plugins.restapidoc.basePath = cytomine.ims.server.url
grails.plugins.restapidoc.grailsDomainDefaultType = "int"
