server {
    client_max_body_size 0;
    listen       80;
    listen 443 ssl http2;
    server_name  $IRIS_URL;

    ssl_certificate /certificates/$IRIS_URL.pem;
    ssl_certificate_key /certificates/$IRIS_URL-key.pem;

    location / {
        proxy_pass http://iris:8080;
    }
}