upstream backend-core {
    server $CORE_ALIAS:8080;
}

server {
    listen  80;
    listen  443 ssl http2;
    server_name  $CORE_URL;

    ssl_certificate /certificates/$CORE_URL.pem;
    ssl_certificate_key /certificates/$CORE_URL-key.pem;

    if ($http_origin ~* "localhost") {
        set $cors_origin $http_origin;
        set $cors_cred   true;
        set $cors_method 'GET, PUT, POST, DELETE, OPTIONS';
        set $cors_header 'Content-Type, Content-Range, Content-Length, Content-Disposition, Content-Description, Date, dateFull, authorization, content-type-full, X-Requested-With, Pragma';
}
        location / {
            proxy_pass http://backend-core;

            add_header Access-Control-Allow-Origin      $cors_origin always;
            add_header Access-Control-Allow-Credentials $cors_cred always;
            add_header Access-Control-Allow-Headers     $cors_header always;
            add_header Access-Control-Allow-Methods     $cors_method always;

            if ($request_method = 'OPTIONS') {
                add_header Access-Control-Allow-Origin		$cors_origin always;
                add_header Access-Control-Allow-Credentials 	$cors_cred always;
                add_header Access-Control-Allow-Headers		$cors_header always;
                add_header Access-Control-Allow-Methods 	$cors_method always;
                add_header 'Access-Control-Max-Age' 		1728000;
                add_header 'Content-Type' 			'text/plain charset=UTF-8';
                add_header 'Content-Length' 			0;
                return 204;
            }
        }

}