# Created by .ignore support plugin (hsz.mobi)
.idea/
configs/core/cytomineconfig.groovy
configs/iipCyto/iip-configuration.sh
configs/iipCyto/nginx.conf.sample
configs/iipJP2/nginx.conf.sample
configs/ims/ims-config.groovy
configs/iris/iris-config.groovy
configs/iris/iris-production-config.groovy
configs/nginx/nginx.conf
configs/nginx/server-core-dev.conf
configs/nginx/server-core.conf
configs/nginx/server-iipjp2.conf
configs/nginx/server-ims-dev.conf
configs/nginx/server-ims.conf
configs/nginx/server-iris.conf
configs/nginx/server-retrieval.conf
configs/software_router/config.groovy
hosts/core/addHosts.sh
hosts/ims/addHosts.sh
hosts/iris/addHosts.sh
hosts/project_migrator/addHosts.sh
hosts/retrieval/addHosts.sh
hosts/slurm/addHosts.sh
hosts/software_router/addHosts.sh
start.sh
