{
    "CYTOMINE_CORE_HOST": "$HTTP_PROTOCOL://$CORE_URL",
    "CYTOMINE_UPLOAD_HOST": "$HTTP_PROTOCOL://$UPLOAD_URL",
    "DIGITAL_ZOOM_INCREMENT": 4,
    "VIEWER_ANNOTATIONS_REFRESH_INTERVAL": 10000,
    "MEMBERS_ACTIVITY_REFRESH_INTERVAL": 30000,
    "STORAGE_REFRESH_INTERVAL": 10000,
    "ONGOING_UPLOAD_REFRESH_INTERVAL": 500,
    "PRELOADED_SLICES": 50,
    "ANNOTATIONS_MAX_ITEMS_PER_CATEGORY": 50,
    
    "CYTOMINE_FLAVOR": "$CYTOMINE_FLAVOR",
    "CYTOMINE_VERSION": "$CYTOMINE_VERSION",
    
    "CORE_NAMESPACE": "$CORE_NAMESPACE",
    "CORE_VERSION": "$CORE_VERSION",
    "IMS_NAMESPACE": "$IMS_NAMESPACE",
    "IMS_VERSION": "$IMS_VERSION",
    "WEB_UI_NAMESPACE": "$WEB_UI_NAMESPACE",
    "WEB_UI_VERSION": "$WEB_UI_VERSION",
    "NGINX_NAMESPACE": "$NGINX_NAMESPACE",
    "NGINX_VERSION": "$NGINX_VERSION",
    "MEMCACHED_NAMESPACE": "$MEMCACHED_NAMESPACE",
    "MEMCACHED_VERSION": "$MEMCACHED_VERSION",
    "POSTGRES_NAMESPACE": "$POSTGRES_NAMESPACE",
    "POSTGRES_VERSION": "$POSTGRES_VERSION",
    "MONGODB_NAMESPACE": "$MONGODB_NAMESPACE",
    "MONGODB_VERSION": "$MONGODB_VERSION",
    "BACKUP_NAMESPACE": "$BACKUP_NAMESPACE",
    "BACKUP_VERSION": "$BACKUP_VERSION",
    "IIPCYTO_NAMESPACE": "$IIPCYTO_NAMESPACE",
    "IIPCYTO_VERSION": "$IIPCYTO_VERSION",
    
    "IIPJP2_ENABLED": $IIP_JP2_ENABLED,
    "IIPJP2_NAMESPACE": "$IIPJP2_NAMESPACE",
    "IIPJP2_VERSION": "$IIPJP2_VERSION",
    
    "BIOFORMAT_ENABLED": $BIOFORMAT_ENABLED,
    "BIOFORMAT_NAMESPACE": "$BIOFORMAT_NAMESPACE",
    "BIOFORMAT_VERSION": "$BIOFORMAT_VERSION",
    
    "SOFTWARE_ROUTER_ENABLED": $SOFTWARE_ENABLED,
    "SOFTWARE_ROUTER_NAMESPACE": "$SOFTWAREROUTER_NAMESPACE",
    "SOFTWARE_ROUTER_VERSION": "$SOFTWAREROUTER_VERSION",
    "RABBITMQ_ENABLED": $SOFTWARE_ENABLED,
    "RABBITMQ_NAMESPACE": "$RABBITMQ_NAMESPACE",
    "RABBITMQ_VERSION": "$RABBITMQ_VERSION",
    "SLURM_ENABLED": $SOFTWARE_ENABLED,
    "SLURM_NAMESPACE": "$SLURM_NAMESPACE",
    "SLURM_VERSION": "$SLURM_VERSION",
    
    "RETRIEVAL_ENABLED": $RETRIEVAL_ENABLED,
    "RETRIEVAL_NAMESPACE": "$RETRIEVAL_NAMESPACE",
    "RETRIEVAL_VERSION": "$RETRIEVAL_VERSION",
    
    "IRIS_ENABLED": $IRIS_ENABLED,
    "IRIS_NAMESPACE": "$IRIS_NAMESPACE",
    "IRIS_VERSION": "$IRIS_VERSION",
    
    "HMS_ENABLED": $HMS_ENABLED,
    "HMS_NAMESPACE": "$HMS_NAMESPACE",
    "HMS_VERSION": "$HMS_VERSION"
}