dataSource.url='jdbc:postgresql://$POSTGRES_ALIAS:5432/docker'
dataSource.username='docker'
dataSource.password='docker'

grails.admin.client='info@cytomine.be'

cytomine.customUI.global = [
        dashboard: ["ALL"],
        search : ["ROLE_ADMIN"],
        project: ["ALL"],
        ontology: ["ROLE_ADMIN"],
        storage : ["ROLE_USER","ROLE_ADMIN"],
        activity : ["ALL"],
        feedback : ["ROLE_USER","ROLE_ADMIN"],
        explore : ["ROLE_USER","ROLE_ADMIN"],
        admin : ["ROLE_ADMIN"],
        help : ["ALL"],
        software : ["ROLE_USER", "ROLE_ADMIN"]
]

grails.serverURL='http://$CORE_URL'
grails.imageServerURL=['http://$IMS_URL1']
grails.retrievalServerURL =['http://$RETRIEVAL_URL']
grails.uploadURL='http://$UPLOAD_URL'

storage_buffer='$IMS_BUFFER_PATH'
storage_path='$IMS_STORAGE_PATH'
fast_data_path='$FAST_DATA_PATH'

grails.iris.enabled=$IRIS_ENABLED
grails.retrieval.enabled=$RETRIEVAL_ENABLED
grails.backup.enabled=$BACKUP_ENABLED
grails.bioformat.enabled=$BIOFORMAT_ENABLED
grails.iipJP2.enabled=$IIP_JP2_ENABLED
grails.core.dev=$CORE_DEVELOPMENT
grails.ims.dev=$IMS_DEVELOPMENT
grails.software.dev=$SOFTWARE_DEVELOPMENT

grails.adminPassword='$ADMIN_PWD'
grails.adminPrivateKey='$ADMIN_PRIV_KEY'
grails.adminPublicKey='$ADMIN_PUB_KEY'
grails.superAdminPrivateKey='$SUPERADMIN_PRIV_KEY'
grails.superAdminPublicKey='$SUPERADMIN_PUB_KEY'
grails.ImageServerPrivateKey='$IMS_PRIV_KEY'
grails.ImageServerPublicKey='$IMS_PUB_KEY'
grails.rabbitMQPrivateKey='$RABBITMQ_PRIV_KEY'
grails.rabbitMQPublicKey='$RABBITMQ_PUB_KEY'

grails.notification.email='$SENDER_EMAIL'
grails.notification.password='$SENDER_EMAIL_PASS'
grails.notification.smtp.host='$SENDER_EMAIL_SMTP_HOST'
grails.notification.smtp.port='$SENDER_EMAIL_SMTP_PORT'

grails.mongo.host = '$MONGODB_ALIAS'
grails.mongo.options.connectionsPerHost=50
grails.mongo.options.threadsAllowedToBlockForConnectionMultiplier=10

grails.retrievalUsername = 'cytomine'
grails.retrievalPassword = '$RETRIEVAL_PASSWORD'

grails.messageBrokerServerURL='$RABBITMQ_ALIAS:5672'

grails.serverID='$SERVER_ID'