CYTOMINE_HOST="$HTTP_PROTOCOL://$CORE_URL"
CYTOMINE_PUBLIC_KEY="$IMS_PUB_KEY"
CYTOMINE_PRIVATE_KEY="$IMS_PRIV_KEY"
N_TILE_READER_WORKERS=4
TILE_SIZE=512
N_WRITTEN_TILES_TO_UPDATE_PROGRESS=50
WAITRESS_THREADS=4